.formulario {
    box-shadow: 0px 0 3px 1px #737070;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.compTitulo {
    text-align: left;
    color: #616161;
}

h1 {
    font-size: 1em !important;
}

.titulo {
    margin-bottom: 20px;
    color: #0cb3bb
}

.divCard {
    display: flex;
    justify-content: center;
}

.input {
    margin-bottom: 23px;
}